[submodule "client"]
	path = client
	url = https://github.com/patrickWarley/hospital_resilia.git
  update = merge
[submodule "server"]
	path = server
	url = https://github.com/patrickWarley/api_hospital_resilia.git
  update = merge